body {
  background-color: #3791c9;
  font-family: sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: #a9f389;
}

a {
  color: #f9f871;
  text-decoration: none;
}

.section-heading {
  font-size: 1.5em;
}
